# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.npmrc
.idea/workspace.xml

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
examples/src/yfiles-license.json
**/license.json
examples/package-lock.json
package-lock.json

doc/.astro/
doc/build/
doc/dist/
doc/node_modules/
doc/src/content/types/
doc/src/content/functions/
doc/src/content/components/
doc/src/content/hooks/
doc/public/assets/
doc/src/scripts/matomo.js


